@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?xhzsso');
	src:url('fonts/icomoon.eot?#iefixxhzsso') format('embedded-opentype'),
		url('fonts/icomoon.woff?xhzsso') format('woff'),
		url('fonts/icomoon.ttf?xhzsso') format('truetype'),
		url('fonts/icomoon.svg?xhzsso#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
	content: "\e600";
}

.icon-close:hover{
	color:red;
}

.icon-close{
	font-size: .80em;
}

.icon-checkmark:before {
	content: "\e601";
}

.icon-checkmark:hover{
	color:green;
}

.icon-minus:before {
	content: "\e602";
}
.icon-plus:before {
	content: "\e603";
}

.icon-plus:hover{
	color:blue;
}

.icon-plus:hover, .icon-checkmark:hover, .icon-close:hover{
	font-weight: bold;
}

body{
	background-color: black;
	font-family: sans-serif;
}

.main{
	margin:auto;
	width:800px;
	background-color: white;
	padding:10px 0 10px 0;

}

.input{
	position:relative;
	margin:5px auto 15px auto;
	border: 1px solid black;
	width:320px;
	padding-left: 2px;
}

.input input{
	border:none;
	width:300px;
	height:25px;
	font-size: 16px;
}

.input input:focus{
	outline: none;
}

.additem{
	position:absolute;
	top:5px;
	right:2px;
}

.item{
	position:relative;
	margin:0 auto;
	height:25px;
	width:320px;
	margin-top: 5px;
	border:1px solid black;
}

.checkitem, .itemtext, .delitem{
	position:absolute;
	top:3px;
}

.checkitem{
	top:5px;
	left:2px;
}

.itemtext{
	left:25px;
	width:270px;
	padding-top: 0;
}

.delitem{
	left:304px;
}

.itemtext p{
	margin:0;
}

.checked{
	font-weight: bold;
	color:green;
}

.crossed-off{
	text-decoration: line-through;
}